

# {
	padding: 0;
	margin: 0;
}

body {
	background-image: linear-gradient(to right, #DAD2D8, #FFFFFF);
}

header {
	padding: 40px;
	background-color: #A8201A;
}	

section {
	margin-top: 40px;
	padding: 40px;
	background-color: #EC9A29;
	}

footer {
	margin-top: 40px;
	padding: 40px;
	background-color: #143642;
	color: #FFFFFF;
}
