<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello Friend!!!</title>
		<link rel="stylesheet" href="static/css/styles.css">
	</head>
	<body>
		<header>
			<h3>Hello, and welcome...</h3>
			<h1>To The Memes!!!</h1>
		</header>
		<section>
			<p>
				Welcome friendo!
				<br>
				Todays flavour is...
				<br>
				Wholesome Memes!!!
				<br>
				Cause we could all use something a little wholesome. ^ _ ^
				<br>
				<br>
				So press a key, and get some memes
			</p>
			<img id="imspot" src="" width="500" height="500">
		</section>
		<footer>
			<h3>Thanks For Visiting...</h3>
			<h2>Hopefully You Found Something Wholesome...</h2>
			<h1>Have A Fantasic Day!!!</h1>
		</footer>
		<script type="text/javascript" src="static/js/script.js"></script>
	</body>
</html>
